@import './variables.scss';

#start-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
}

.start-section__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 1rem;
  }
}

#start-canvas {
  top: 0;
  left: 0;
  position: absolute;
}

.start-section__menu-holder {
  z-index: 1;
}

.lang-holder {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    color: $red-color;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: none;
    transition: 0.2s;
  }

  .select {
    color: white;
    text-shadow: none;
  }
}